- SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. 
- SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database system

In [16]:
import sqlite3

In [24]:
# connection to sqlite3 db
connection = sqlite3.connect('example.db')
connection

In [25]:
cursor = connection.cursor()

In [26]:
# Create a Table 
connection.execute(
 '''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT, 
    age INTEGER, 
    department TEXT
)
 '''
)

In [27]:
# Commit the changes 
connection.commit()

In [28]:
## Insert the data in sqlite table
cursor.execute('''
Insert INTO employees(name,age,department)
               values('Chandu',25,'Data Scientist1')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering1')
''')


## commi the changes
connection.commit()

In [30]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Chandu', 25, 'Data Scientist1')
(2, 'Bob', 25, 'Engineering1')

In [32]:
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance1')
''')


## commi the changes
connection.commit()

In [33]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Chandu', 25, 'Data Scientist1')
(2, 'Bob', 25, 'Engineering1')
(3, 'Charlie', 35, 'Finance1')
(4, 'Charlie', 35, 'Finance1')