In [1]:
student = {"name": "chandu", "gender":"male", "class":"10th"}

In [3]:
type(student)

dict

In [4]:
student['name']

'chandu'

In [5]:
student.get('name')

'chandu'

In [6]:
student.get('last_name')

In [7]:
# show default value if it is not present
student.get('last_name',"not_avialable")

'not_avialable'

In [8]:
print(student)
student["class"] = "11th"
print(student)
student["first_name"] = "A"
print(student)
del student["gender"]
print(student)

{'name': 'chandu', 'gender': 'male', 'class': '10th'}
{'name': 'chandu', 'gender': 'male', 'class': '11th'}
{'name': 'chandu', 'gender': 'male', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}

In [9]:
# Dictionary Methods
keys = student.keys()
values = student.values()

print(keys)
print(values)

dict_keys(['name', 'class', 'first_name'])
dict_values(['chandu', '11th', 'A'])

In [10]:
items = student.items()
print(items)

dict_items([('name', 'chandu'), ('class', '11th'), ('first_name', 'A')])

In [11]:
# Shallow Copy
student_copy = student
print(student)
print(student_copy)

student['name']='chandu2'
print(student)
print(student_copy)

{'name': 'chandu', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}

This is the issue with copy when assign it to direct value , instead use shallow copy ie.,

In [12]:
student_copy = student.copy()
print(student)
print(student_copy)

student['name']='chandu3'
print(student)
print(student_copy)

{'name': 'chandu', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu3', 'class': '11th', 'first_name': 'A'}
{'name': 'chandu', 'class': '11th', 'first_name': 'A'}

In [14]:
# iteration 
for key, value in student.items():
    print(key,value)

name chandu3
class 11th
first_name A

In [16]:
squares = {x:x**2 for x in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}