In [1]:
list = []
print(type(list))

<class 'list'>

In [2]:
list1 = ['cat', 'dog', 'rat', 'rabbit']
list1

['cat', 'dog', 'rat', 'rabbit']

In [3]:
mixed_list =  ['cat', 'dog', 'rat', 'rabbit', 1, 2,3, 4, 5.0, 7.9]
mixed_list

['cat', 'dog', 'rat', 'rabbit', 1, 2, 3, 4, 5.0, 7.9]

In [4]:
mixed_list[0]

'cat'

In [5]:
mixed_list[1]

'dog'

In [6]:
mixed_list[0:3]

['cat', 'dog', 'rat']

In [7]:
mixed_list[0:5:1]

['cat', 'dog', 'rat', 'rabbit', 1]

In [8]:
mixed_list[-1]

7.9

In [9]:
mixed_list[len(mixed_list):0:-2]

[7.9, 4, 2, 'rabbit', 'dog']

In [13]:
mixed_list[-1] = "bananna"

In [14]:
mixed_list[-1]

'bananna'

In [16]:
mixed_list[0:len(mixed_list)]

['cat', 'dog', 'rat', 'rabbit', 1, 2, 3, 4, 5.0, 'bananna']

In [17]:
mixed_list[0:3] = "watermelon"

In [21]:
mixed_list[0:len(mixed_list)]

['w',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'rabbit',
 1,
 2,
 3,
 4,
 5.0,
 'bananna']

In [22]:
mixed_list.pop()

'bananna'

In [23]:
mixed_list[0:len(mixed_list)]

['w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'rabbit', 1, 2, 3, 4, 5.0]

In [25]:
mixed_list.index("rabbit")

10

In [27]:
fruits = ["apple","banana", "orange","kiwi"]

In [28]:
fruits

['apple', 'banana', 'orange', 'kiwi']

In [29]:
fruits.insert(2, "kiwi")

In [30]:
fruits

['apple', 'banana', 'kiwi', 'orange', 'kiwi']

In [31]:
fruits.count("kiwi")

2

In [32]:
fruits.sort()

In [33]:
fruits

['apple', 'banana', 'kiwi', 'kiwi', 'orange']

In [34]:
fruits.reverse()

In [35]:
fruits

['orange', 'kiwi', 'kiwi', 'banana', 'apple']

In [36]:
fruits.clear()

In [37]:
fruits

[]

In [38]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
for index, number in enumerate(numbers):
    print(f"index: {index}, number: {number}")

index: 0, number: 1
index: 1, number: 2
index: 2, number: 3
index: 3, number: 4
index: 4, number: 5
index: 5, number: 6
index: 6, number: 7
index: 7, number: 8
index: 8, number: 9
index: 9, number: 10

In [42]:
# Normal Logic 
lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
# List Comprehension
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
# List Comprehension with Number 
## print event numbers

[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

In [50]:
# Nested List Comprehension
[[x,i] for x in ['a','b','c','d', 'ab', 'abc', 'abcd'] for i in range(len(x))]

[['a', 0],
 ['b', 0],
 ['c', 0],
 ['d', 0],
 ['ab', 0],
 ['ab', 1],
 ['abc', 0],
 ['abc', 1],
 ['abc', 2],
 ['abcd', 0],
 ['abcd', 1],
 ['abcd', 2],
 ['abcd', 3]]